@import './styles/variables.scss';
@import './styles/util.scss';

@font-face {
	font-family: 'Baloo';
	src: local('Baloo'),
		url('./assets/fonts/Baloo-Regular.ttf') format('truetype');
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-size: 3rem;
	font-family: 'Baloo';
	color: var(--color-primary);
	letter-spacing: 2px;
}

.btn {
	font-family: 'Baloo';
	display: inline-flex;
	width: min-content;
	padding: 4px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	background: #5cb800;
	border: none;
	color: #ffffff;
	font-size:1.25rem;
	cursor: pointer;
}

.card {
	box-shadow: var(--box-shadow);
	width: 100%;
	max-width: 600px;
	border-radius: 12px;
}
